/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  background-color: #f8f7f6;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* # DEBUG */

/* .debug,
.debug * {
  background-color: lightgrey;
  border: 2px dashed black;
  padding: 10px;
  min-height: 50px;
} */

/* HEADER */

header {
  background-color: white;
  min-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: darkorange;
  font-family: Nerko One, cursive;
}

/* MAIN */

main .container {
  margin-top: 20px;
  padding: 0px 20px 0 20px;
}

/* video ricetta */

iframe {
  width: 100%;
  aspect-ratio: 1.75;
}

.page-title {
  margin-bottom: 20px;
  line-height: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #53476d;
}

h4 {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  color: #9d9d9d;
  font-size: 0.9rem;
  font-weight: lighter;
}

.info-recipe {
  background-color: white;
  min-height: 200px;
  padding: 25px;
  font-size: 0.8rem;
  line-height: 1.8rem;
}

/* presentation */

img[alt~="Tiramisù"] {
  max-width: 60%;
}
